---
title: Chat with me fam!
description: >-
  On this page you'll find a bridge to my IRC channel. This channel is also availbe via matrix
image: /images/kaur-kristjan-cppf4w5pb1c-unsplash.jpg
layout: page
---
<p>You do not need to register to participate. This chat is public. <strong>We never ask you to submit credit-card (any other payment information) nor personal information.</strong> It is provided by kiwi via Libera.Chat. Read the privacy policy of <a target="_blank" rel="noopener" href="https://kiwiirc.com/privacy">Kiwi</a> and <a target="_blank" rel="noopener" href="https://libera.chat/policies/">Libera.Chat</a><br />Matrix user? <a href="{{ site.social.irc.matrix }}" target="_blank" rel="noopener">Click here</a></p>
<iframe src="https://kiwiirc.com/client/irc.libera.chat:+6667/?nick={{ site.social.irc.guest-nick }}|?&theme=cli{{ site.social.irc.channel }}" style="border:0; width:100%; height:540px;"></iframe>
