---
title: Discography
subtitle: Discog
description: Collection of music releases published by 徒 setto セット over the years.
tags:
  - discography
  - releases
  - music
  - full-length
  - albums
  - EP
video_path:
image: /images/pages/jack-hamilton-CMnNiQBkwBI-unsplash.jpg
---

{% include relBase.html %}
{% include header.html %}

{% assign sorted = site.posts | sort: 'date' | reverse %}
{% for post in sorted %}
{% if post.category == 'releases' %}
<section id="read" class="front-section">

  <div style="background-image:url({{ post.image }})">
    <p class="editor-link"><a href="cloudcannon:collections/_posts/{{ post.path }}" rel="nofollow"
        class="btn"><strong>&#9998;</strong> Edit Post</a></p>
  </div>
  <div class="description">
    <div class="container">
      <h2>{{ post.title }}</h2>
  
      <p><strong>{% for tag in post.tags %}{{ tag }}{% endfor %} released {% include forloop-dates.html %}</strong></p>
      <p>{{ post.description }}</p>
      <p><a href="{{ relBase }}{{ post.url }}" class="button">🔊 Listen</a></p>
  
    </div>
  </div>

</section>
{% endif %}
{% endfor %}
