---
title: 'Yo, web-TV crib! ゲットー・スービド'
description: >-
  The music of To Setto Setto is a cypher cloud jam induced by popcorn chewing
  threads in obscure chat-rooms.
image: /images/pages/background-setto-v2-blus.svg
video_path:
---

<script type="text/javascript">

  function generateRandomPosts()
  {
      $.getJSON("/posts.json", function(data) {
          console.log("[posts.json loaded for random posts]");

          var postsCount = data.length;
          var posts = data;

          var randomIndexUsed = [];
          var counter = 0;
          var numberOfPosts = 1;

          var divRandomPosts = $("#random_posts");

          while (counter < numberOfPosts)
          {
              var randomIndex = Math.floor(Math.random() * postsCount);

              if (randomIndexUsed.indexOf(randomIndex) == "-1")
              {
                  var postHREF = posts[randomIndex].href;
                  var postTitle = posts[randomIndex].title;

                  if (counter == (numberOfPosts - 1))
                  {
                      divRandomPosts.replaceWith('<a class="button" href="' + postHREF + '">🔥</a>');
                  }
                  else
                  {
                      divRandomPosts.replaceWith('<a class="button" href="' + postHREF + '">🔥</a>');
                  }

                  randomIndexUsed.push(randomIndex);

                  counter++;
              }
          }
      });
  }

  $(document).ready(function() {
      generateRandomPosts();
  });

</script>

{% include relBase.html %}
<header class="hero" id="top"
  style="background-image: url({{ page.image }});">
  <div class="imagecontainer">
    <h4>{{ page.title }}</h4>
  </div>

    <div class="splash">
      <div class="splash-logo">
        <a href="#read"><img src="{{ site.icon }}" width="240px" alt="{{ site.title }} Logo" /></a>
      </div>
      <div class="description">
        <script type="text/javascript" src="https://pr.basspistol.com/form/generate.js?id=7"></script>
        <ul>{% for app in site.data.navigation %}
          <li><a href="{{ app.url }}" {% if app.external_site == true %}rel="noopener" target="_blank"{% endif %} class="button">{{ app.icon }}</a></li>
          {% endfor %}
          <li id="random_posts"><a href="/discography"  class="button">🔥</a></li>
        </ul>

        
      </div>

    </div>


</header>
<section class="releases" id="read">
  <div class="content-wrapper" style="text-align: center;">
  <h1>{{ site.title }}</h1>
        <p>{{ page.description }}</p>
  <h2>Releases</h2>
  <div class="container">
  {% assign sorted = site.posts | sort: 'date' | reverse %}
  {% for post in sorted %}
  {% for album in site.albums %}
 
  {% if album.slug == post.album %}

  <article>
    <figure>
      <a href="{{ post.url }}#play">
        <img src="{{ site.mediaurl }}/{{ album.tracks[0].slug }}.jpeg" alt="Cover art for {{ post.title }}" /></a>
      <figcaption>
        <p><strong>{{ album.name }}</strong></p>

        {% assign total = 0 %}
        {% for track in album.tracks %}
          {% assign total = total | plus: track.format.duration %}
        {% endfor %}
    

        <p>Duration: <strong>{% assign round_seconds = total | round %}{% assign minutes = round_seconds | divided_by: 60 %}{% assign leftover_seconds = minutes | times: 60 %}{{ minutes }}:{% assign seconds_without_zero = round_seconds | minus: leftover_seconds %}{% if seconds_without_zero < 10 %}0{% endif %}{{ seconds_without_zero }}</strong></p>

        <p>{% for tag in post.tags %}{{ tag }}{% endfor %} released <time datetime="{{ post.date }}">{{ album.date | date: '%Y' }}</time></p>
      </figcaption>
    </figure>
  </article>

  {% endif %}
  {% endfor %}
  {% endfor %}
</div>
</div>
</section>


{% for post in site.posts %}
{% if post.category == 'ramblings' %}
<section id="news" class="front-section">

  <div style="background-image:url({{ post.image }})">
    <p class="editor-link"><a href="cloudcannon:collections/_posts/{{ post.path }}" rel="nofollow"
        class="btn"><strong>&#9998;</strong> Edit Post</a></p>
  </div>
  <div class="description">
    <div class="container">
      <h2>{{ post.title }}</h2>
  
      <p><strong>Posted on <time datetime="{{ post.date }}">{% include forloop-dates.html %}</time></strong></p>
      <p>{{ post.description }}</p>
      <p><a href="{{ relBase }}{{ post.url }}" class="button">🔊 Listen</a></p>
  
    </div>
  </div>

</section>
{% endif %}
{% endfor %}