---
title: Live from the middle of Anywhere
description: >-
  Occasionally, i live-stream from different places and situations. When i do that, you'll be able to play the video bellow, and chat using the embedded chat under it.
image: /images/pages/default-live-background.jpg
layout: page
---
<h2>If it keeps buffering, it probably means i'm not there...</h2>
<p>Pro-tip: there is a chat bellow the video!</p>
<iframe width="100%" height="515" sandbox="allow-same-origin allow-scripts allow-popups" title="Live from the middle of anywhere" src="https://v.basspistol.org/videos/embed/4e832d87-8961-40e2-abc6-4c4f38b9ddcb" frameborder="0" allowfullscreen></iframe>
<h3>Chat</h3>
<p>You do not need to register to participate. This chat is public. <strong>We never ask you to submit credit-card (any other payment information) nor personal information.</strong> It is provided by kiwi via Libera.Chat. Read the privacy policy of <a target="_blank" rel="noopener" href="https://kiwiirc.com/privacy">Kiwi</a> and <a target="_blank" rel="noopener" href="https://libera.chat/policies/">Libera.Chat</a><br />Matrix user? <a href="{{ site.social.irc.matrix }}" target="_blank" rel="noopener">Click here</a></p>
<iframe src="https://kiwiirc.com/client/irc.libera.chat:+6667/?nick={{ site.social.irc.guest-nick }}|?&theme=cli{{ site.social.irc.channel }}" style="border:0; width:100%; height:540px;"></iframe>
