---
title: Web-Log
description: 'Ramblings, announcenments and thoughts going on in the 徒 setto セット Cypher. In written form intertwined with audio'
image: /images/pages/4-darkweb-instrumental-.jpeg
---

{% include relBase.html %}
{% include header.html %}
<section id="read">
  <h2>Latest News</h2>
</section>
{% for post in site.posts %}
{% if post.category == 'ramblings' %}
<section id="read" class="front-section">
  <div style="background-image:url({{ post.image }})">
    <p class="editor-link">
      <a href="cloudcannon:collections/_posts/{{ post.path }}" rel="nofollow" class="btn">
        <strong>&#9998;</strong> Edit Post
      </a>
    </p>
  </div>
  <div class="description">
    <div class="container">
      <div class="">
        <h3>{{ post.title }}</h3>
        <p><strong><time datetime="{{ post.date }}">{% include forloop-dates.html %}</time></strong></p>
        <p>{{ post.description  }}</p>
      </div>
      <div>
        <p><a class="button" href="{{ relBase }}{{ post.url }}#read">📰 Read Highlight</a></p>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% endfor %}