{% include streamer.html %}
<!-- Footer -->
<footer>
  <div class="footframe">
    <div>
      <h3>{{ site.title }}</h3>
      <p>{{ site.description }}</p>
      <ul>
        {% if page.url != '/' %}
        <li><a href="{{ relBase }}/">🏡 Home</a></li>
        {% endif %}
        {% for entry in site.data.navigation %}
        <li><a href="{{ entry.url }}" {% if entry.external_site == true %} target="_blank" rel="noopener"
            {% endif %}>{{ entry.icon }} {{ entry.name }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div><a href="{% if page.collection == 'tracks' %}/{% else %}#main-wrapper{% endif %}"><img src="{{ relBase }}{{ site.logo-footer }}" alt="{{ site.title }} Logo" /></a></div>

    <small>
      <div style="text-align: center;">
        {% for nw in site.data.social %}
        <a target="_blank" alt="{{ site.title }} on {{ nw.name }}" title="{{ site.title }} on {{ nw.name }}" rel="{% if nw.url contains 'sonomu.club' %}me {% endif %}noopener"
          href="{{ nw.url }}" class="icon small fab {{ nw.icon }}"><span class="label">{{ nw.name }}</span></a>
        {% endfor %}
        <a target="_blank" alt="email" title="email" href="mailto:{{ site.social.mail }}" class="icon small fas fa-envelope-open-text" rel="me"><span
          class="label">Email</span></a>
      </div>
      <p>&copy;{{ site.time | date: '%Y' }} {{ site.publisher.name }} | <a href="{{ relBase }}/webcreds/">Credits</a> |
        <a href="{{ relBase }}/cookies/">Cookies & Privacy</a>
        <br />This page was last updated on {{ page.last_modified_at | date: "%A, %b %d, %Y" }}</p>
    </small>
  </div>
</footer>
