<div id="zafari" class="modalDialog">
  <div>
<h2>Hey Safari User!</h2>
<p>Amazing! You are surfing the web with one of the leading browsers to download another browser! Such luxury! <br />
To listen to {{ site.title }}&apos;s music, these are your options:
<ul>
  <li><a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank" rel="noopener" class="button">Download Firefox</a></li>
  <li><a href="{% for store in site.data.stores %}{% if store.name == 'Spotify' %}{{ store.url }}{% endif %}{% endfor %}" target="_blank" rel="noopener" class="button">Use Spotify</a></li>
</ul>
<br />
If you like browsing the web this way and you really just want to see if this {{ site.title }} thing is for real:<br />
<ul>
  <li>
    <a href="#" onclick="youMadBro()" class="button">Proceed anyway</a>
  </li>
</ul>


</p>
{% include streamer.html %}
</div>
</div>