/* cookies */

#cookie-notice {

  display: none;
  text-align: right;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--bg);
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  z-index: 10000000;
  -webkit-box-shadow: 0px -12px 32px -25px var(--border-alt);
  -moz-box-shadow: 0px -12px 32px -25px var(--border-alt);
  box-shadow: 0px -12px 32px -25px var(--border-alt);
  p {
    flex: 1 0 250px;
    margin: 40px 20px 40px 40px;
    font-size: 0.8em;
    font-family: _font(family);
    font-weight: 300;
  }
  @media only screen and (max-width: 651px) {
    p {
      text-align: center;
      margin: 40px 40px 20px 40px;
    }
    .yes, .no {
      margin: 20px 40px 0px 40px;
    }

  }
  button {
    border: none;
    font-size: inherit;
    font-family: inherit;
  }
}

.yes, .no {
  flex: 0 0 100px;
  -moz-transition: all var(--anim-speed) ease-in-out;
  -webkit-transition: all var(--anim-speed) ease-in-out;
  -ms-transition: all var(--anim-speed) ease-in-out;
  transition: all var(--anim-speed) ease-in-out;
  text-align: center;
  margin: 40px 40px 40px 10px;
}
.yes {
  background-image: unset;
  background-color: var(--accent1) !important;
}
.no {
  background-image: unset;
  background-color: #f00 !important;
}
.yes:hover {
  // color: #000 !important;
  -moz-transition: all var(--anim-speed) ease-in-out;
  -webkit-transition: all var(--anim-speed) ease-in-out;
  -ms-transition: all var(--anim-speed) ease-in-out;
  transition: all var(--anim-speed) ease-in-out;
}
