---
---
<!DOCTYPE HTML>
<!--
  Publikatorized by Sakrecoer
  Free for personal and commercial use under the CCA 3.0 license.                                                                                                                                                                                                      
-->
<html lang="{{ site.lang }}">
<head>
{% include seo.html %}
{% include relBase.html %}
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
<link rel="stylesheet" href="{{ relBase }}/assets/css/all.min.css" />
<link rel="stylesheet" href="{{ relBase }}/assets/css/colors-20210906.css" />
<link rel="stylesheet" href="{{ relBase }}/assets/css/main-20210906.css" />
<link rel="apple-touch-icon" href="{{ site.url }}/apple-touch-icon.png">
<link rel="icon" type="image/png" href="{{ site.url }}/touch-icon.png" sizes="192x192">
<link rel="shortcut icon" href="{{ site.url }}{{ site.icon }}" type="image/png" />
<noscript><link rel="stylesheet" href="{{ relBase }}/assets/css/noscripts-20210906.css" /></noscript>
<script src="{{ relBase }}/assets/js/jquery-3.5.1.min.js"></script>
<meta name="theme-color" content="{{ site.data.colors.bg }}"/>



</head>

<body>
<!-- Wrapper -->

<div id="main-wrapper">

{{ content }}
<!-- Footer -->
{% unless page.collection == 'tracks' or page.url == '/radio/' %}
{% include footer.html %}
{% endunless %}

<!-- END Footer -->


</div>
<!-- END Wrapper -->

{% include navigation.html %}


{% include scripts.html %}
{% if page.video_path %}
<div class="fullscreen-bg">
<video data-matomo-ignore autoplay muted loop poster="{{ page.image }}" class="fullscreen-bg__video">
  <source src="{{ page.video_path }}" type="video/mp4">
</video>
</div>
{% endif %}
<!-- Transparent footer -->
{% if page.image %}
<style>
  #main-wrapper {
    background-image: url({{ page.image }});
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
  }
</style>
{% endif %}

</body>
</html>

