---
layout: default
---

{% include header.html %}
<section class="info" id="read">
  <div class="info-pages">
    <div class="container">
    {{ content }}
    </div>
  </div>
</section>
{% if page.url == '/about/' %}
<script src="https://pr.basspistol.com/focus/2.js" type="text/javascript" charset="utf-8" async="async"></script>
{% endif %}